<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <!-- google font script -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="css/features.css" />
    <link rel="stylesheet" href="scss/custom-features.css" />
  </head>
  <body>
    <!-- header for hamburger and profile  -->
    <header class="p-3 mb-3 border-bottom">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-end">
          <!-- users icone -->
          <div class="dropdown">
            <a
              href="#"
              class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              role="button"
            >
              <!-- place your image here -->
              <img src="images/user.svg" alt="user" />
            </a>
            <ul class="dropdown-menu text-small">
              <li><a class="dropdown-item" href="#">New project...</a></li>
              <li><a class="dropdown-item" href="#">Settings</a></li>
              <li><a class="dropdown-item" href="#">Profile</a></li>
              <li><hr class="dropdown-divider" /></li>
              <li><a class="dropdown-item" href="#">Sign out</a></li>
            </ul>
          </div>

          <!-- collapse element -->
          <!--! fix collapse element -->
          <a
            href="#colls-features"
            class="row colls d-flex justify-content-center align-items-center"
            data-toggle="collapse"
            aria-expanded="false"
            aria-controls="colls-features"
            role="button"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="19"
              height="5"
              viewBox="0 0 19 2"
              fill="none"
            >
              <path
                d="M1 1H18"
                stroke="black"
                stroke-width="2"
                stroke-linecap="round"
              />
            </svg>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="12"
              height="5"
              viewBox="0 0 12 2"
              fill="none"
            >
              <path
                d="M1 1H11"
                stroke="black"
                stroke-width="2"
                stroke-linecap="round"
              />
            </svg>
          </a>
          <div class="collapse" id="colls-features">
            <div class="card card-body">je ne suis pas un vendu</div>
          </div>

          <!-- end users icone -->
        </div>
      </div>
    </header>

    <script src="js\bootstrapp.bundle.min.js"></script>
  </body>
</html>
